body{
    padding-top: 50px;   
}

/* Bread Crumb Start  */

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 16px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 3px
}
.breadcrumb-arrow li a {
    font-size: 13px;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #9c27b0;
    border: 1px solid #9c27b0;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 2px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #FFF;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #ffffff
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #cb83d8
}
.breadcrumb-arrow li a:active {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: white;
}
.breadcrumb-arrow li span {
    color: #434a54
}
/* Bread Crumb End  */

/* Loading Element Start  */
.loading{
    position: absolute;
    display: block;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
}
/* Loading Element End  */

/*Chapter Box Design Chapter Start */
.demo{ background: #bebfc1; }
.serviceBoxChapter{
    padding-bottom: 20px;
    border-radius: 0 10px 10px 10px;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 5px #000;
}
.serviceBoxChapter:hover{ box-shadow: 0 0 5px #000 inset; }
.serviceBoxChapter:before{
    content: "";
    display: inline-block;
    /* width: 200px; */
    width: 125px;
    height: 15px;
    border-radius: 10px 10px 0 0;
    background: #2999c3;
    z-index: -1;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
}
.serviceBoxChapter .service-icon{
    width: 117px;
    height: 65px;
    background: #2999c3;
    font-size: 40px;
    margin-bottom: 55px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.serviceBoxChapter .service-icon:after{
    content: "";
    width: 81px;
    height: 84px;
    background: #2999c3;
    border-radius: 0 0 35px 0;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%) scale(1,0.7) rotate(45deg);
    z-index: -1;
}
.serviceBoxChapter .service-icon span{
    display: block;
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) rotateX(360deg);
    transition: all 0.3s ease 0s;
}
.serviceBoxChapter:hover .service-icon span{ transform: translateX(-50%) rotateX(0); }
.serviceBoxChapter .title{
    font-size: 14px;
    color: #505050;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* margin: 0 0 0 0; */
    transition: all 0.3s ease 0.1s;
}
.serviceBoxChapter:hover .title{ color: #2999c3; }
.serviceBoxChapter .description{
    padding: 0 10px;
    font-size: 10px;
    color: #505050;
    line-height: 27px;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
}
.serviceBoxChapter.darkblue:before,
.serviceBoxChapter.darkblue .service-icon,
.serviceBoxChapter.darkblue .service-icon:after{ background: #1a6bac; }
.serviceBoxChapter.darkblue:hover .title{ color: #1a6bac; }
.serviceBoxChapter.yellow:before,
.serviceBoxChapter.yellow .service-icon,
.serviceBoxChapter.yellow .service-icon:after{ background: #fcb833; }
.serviceBoxChapter.yellow:hover .title{ color: #fcb833; }
.serviceBoxChapter.red:before,
.serviceBoxChapter.red .service-icon,
.serviceBoxChapter.red .service-icon:after{ background: #d7182a; }
.serviceBoxChapter.red:hover .title{ color: #d7182a; }
@media only screen and (max-width:990px){
    .serviceBoxChapter{ margin-bottom: 30px; }
}
/*Chapter Box Design Chapter End */

 /*Standard Section Start*/
 .serviceBoxStandardSection{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width:200px !important;
}
.serviceBoxStandardSection .service-icon{
    color: #eb3b5a;
    background: #fff;
    font-size: 20px;
    border-radius: 15px 15px 0 0;
    padding: 10px 10px 8px;
    margin: 0 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    box-shadow: inset 0px 6px 6px 0px #d2c8ca;
}
.serviceBoxStandardSection:hover .service-icon i{
    transform: rotate(360deg);
    transition: all 0.3s;
}
.serviceBoxStandardSection .service-content{
    color: #fff;
    background: linear-gradient(to bottom,#d92856,#EF7C46);
    text-shadow: 0 0 2px #555;
    padding: 40px 20px 10px;
    border-radius: 5px 5px 15px 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.serviceBoxStandardSection .service-content:before,
.serviceBoxStandardSection .service-content:after{
    content: "";
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -30px;
    left: 50%;
}
.serviceBoxStandardSection .service-content:after{
    background: linear-gradient(to bottom,rgba(255,255,255,0.1),transparent);
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0;
    transform: translateX(0);
    top: 15px;
    left: 0;
}
.serviceBoxStandardSection .title{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 10px;
    color:white;
}
.serviceBoxStandardSection .description{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.serviceBoxStandardSection.purple .service-icon{ color: #B67BD5; }
.serviceBoxStandardSection.purple .service-content{ background: linear-gradient(to bottom,#B67BD5,#D87BA7); }
.serviceBoxStandardSection.blue .service-icon{ color: #13b8ef; }
.serviceBoxStandardSection.blue .service-content{ background: linear-gradient(to bottom,#13b8ef,#72daf9); }
.serviceBoxStandardSection.green .service-icon{ color: #22AB15; }
.serviceBoxStandardSection.green .service-content{ background: linear-gradient(to bottom,#22AB15,#A4DC61); }
@media only screen and (max-width:990px){
    .serviceBoxStandardSection{ margin: 0 0 30px; }
}
/*Standard Section End*/
@media only screen and (max-width: 600px) {
  .breadCrumb_step2 {
    display: inline-block;width:70px;white-space: nowrap;overflow: hidden;color:white !important;padding-left: 2px !important;text-overflow: ellipsis;
  }
  .breadCrumb_step3 {
    display: inline-block;width:70px;white-space: nowrap;overflow: hidden;color:black important;padding-left: 14px !important;text-overflow: ellipsis;
  }
}