<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>User Information</h2>
                <div class="form-group">
                    <!-- <div class="row">
                        <div class="col-sm-6">
                            <label class="form-control" for="LoginId">
                                LoginId : {{loginId}}
                            </label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-control  col-sm-6" for="firstName">
                                Name : {{fullName}} 
                             </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-control" for="MediumId">
                                Medium : {{mediumName}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-control" for="phoneNumber">
                                Phone : {{phoneNumber}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-control" for="Standard">
                                Std : {{standardName}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                           <button type="button" (click)="goToDashboard()" class="btn btn-sm" style="background-color: #9c27b0;color: white;">Go To Dashboard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>