<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>
                <div class="form-group">
                    <div class="row">
                            <div class="col-sm-12">
                                    <label class="form-control" >
                                        Email : {{email}}
                                    </label>
                                </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <label class="form-control" >
                                        Contact Number : {{contactNumber}}
                                </label>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12">
                           <button type="button" (click)="goToDashboard()" class="btn btn-sm" style="background-color: #9c27b0;color: white;">Go To Dashboard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>