h2 {
    color:#9c27b0 !important ;
    margin-top: 10px !important;
  }
  
  .form-control
  {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      color: #495057;
      background-color: #9585bd6e;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.45rem;
      -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-shadow: inset 10px 0px 0px 0px #4f026ac7;
      font-size: large;
      margin-top: 10px !important;
  }