@media only screen and (min-width:800px) {
    .hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
        display: none;
        max-height: 0;
        overflow: hidden;
    }
}

.prismTagLine {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .prismTagLine .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .prismTagLine .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .prismTagLine .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .prismTagLine .line1 { top: 0; }
  .prismTagLine .line2 { bottom: 0; }