 
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #843992 !important;">
                        <div class="navbar-brand mx-0 p-0"><img src="assets/images/app_logo.png" width="60" class="img-responsive" alt="">  </div>
                        <a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3" [routerLink]="['/login']">Login</a>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a style="color: white !important;" class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a style="color: white !important;" class="nav-link" href="#features">FEATURES</a> </li>
                                <li class="nav-item"> <a style="color: white !important;" class="nav-link" href="#gallery">GALLERY</a> </li>
                                <li class="nav-item"> <a style="color: white !important;" class="nav-link" href="#pricing">MEDIUMS</a> </li>
                                <li class="nav-item"> <a style="color: white !important;" class="nav-link" href="#contact">CONTACT</a> </li>
                                <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3" [routerLink]="['/login']">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            
            <!-- <h1 class="prismAnime">Prism Solution Presents</h1> -->
            <h1 class="prismTagLine">
                <span class="text-wrapper">
                  <span class="line line1"></span>
                  <span class="letters">IDEAL STUDY</span>
                  <span class="line line2"></span>
                </span>
            </h1>
        </div>
        <div class="img-holder mt-3"><img src="assets/landing/images/iphonex.png" alt="phone" class="img-fluid"></div>
    </header>

    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <h3> विषय विभाग / Subject Sections</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">मार्गदर्शन <br/> GUIDANCE</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">कृतीपत्रिकेचे स्वरूप <br/> PAPER PATTERN</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title"> प्रश्नपत्रिका (१,२,३) <br/>
                                        Question Paper(1,2,3)
                                    </h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    &nbsp;
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">उत्तरपत्रिका (१) <br/> ANSWER SHEET (1)</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                   &nbsp;
                </div>
            </div>
            <div class="section-title">
                <h3>धडा विभाग / Chapter Sections</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">पाठ्यपुस्तक  <br/> TEXT BOOK</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title"> नोट्स <br/> NOTES</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title"> स्वाध्याय  <br/>
                                        EXCERSISE
                                    </h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title"> महत्वाचे प्रश्न  <br/>
                                        IMP QUESTIONS
                                    </h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">कृती पत्रिका  <br/> ACTION SHEET</h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title"> व्हिडीओ  <br/>
                                        VIDEO
                                    </h4>
                                    <p class="card-text">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>GALLERY</small>
                <h3>DISTRIBUTE EVENTS</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="assets/landing/images/events1.png" alt="image">
                <img src="assets/landing/images/events2.png" alt="image">
                <img src="assets/landing/images/events3.png" alt="image">
                <img src="assets/landing/images/events4.png" alt="image">
                <img src="assets/landing/images/events5.png" alt="image">
                <img src="assets/landing/images/events6.png" alt="image">
                <img src="assets/landing/images/events7.png" alt="image">
            </div>
        </div>
    </div>
    <div class="section" id="pricing">
        <div class="container">
            <div class="section-title">
                <small>&nbsp;</small>
                <h3>माध्यम / MEDIUMS</h3>
            </div>

            <div class="card-deck">
                <div class="card pricing popular">
                    <div class="card-head">
                        <h3>मराठी माध्यम</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item" style="padding:4px"><h5>कुमारभारती मराठी </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>इंग्रजी </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकभारती</h5>  </div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकवाणी</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आमोद</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आनन्द</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>इतिहास व राज्यशास्र</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>भूगोल </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>गणित भाग १</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>गणित भाग २</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>विज्ञान व तंत्रज्ञान भाग १</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>विज्ञान व तंत्रज्ञान भाग २</h5></div>
                    </ul>
                    <div class="card-body">
                        &nbsp;
                    </div>
                </div>
                <div class="card pricing ">
                    <div class="card-head">
                        <h4>ENGLISH MEDIUM</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item" style="padding:4px"><h5>KUMAR BHARTI - ENGLISH </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>मराठी अक्षरभारती </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकभारती</h5>  </div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकवाणी</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आमोद</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आनन्द</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>HISTORY AND POLITICAL SCIENCE</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>GEOGRAPHY </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>MATHEMATICS I</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>MATHEMATICS II</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>SCIENCE AND TECHNOLOGY I</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>SCIENCE AND TECHNOLOGY II</h5></div>
                    </ul>
                    <div class="card-body">
                        &nbsp;
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <h4>SEMI ENGLISH MEDIUM</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item" style="padding:4px"><h5>कुमारभारती मराठी </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>इंग्रजी </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकभारती</h5>  </div>
                        <div class="list-group-item" style="padding:4px"><h5>हिंदी लोकवाणी</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आमोद</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>संस्कृत आनन्द</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>इतिहास व राज्यशास्र</h5> </div>
                        <div class="list-group-item" style="padding:4px"><h5>भूगोल </h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>MATHEMATICS I</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>MATHEMATICS II</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>SCIENCE AND TECHNOLOGY I</h5></div>
                        <div class="list-group-item" style="padding:4px"><h5>SCIENCE AND TECHNOLOGY II</h5></div>
                    </ul>
                    <div class="card-body">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // end .section -->

    <div class="section bg-gradient">
        <div class="container">
            <div class="call-to-action">

                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Download App Anywhere</h2>
                <p class="tagline">Available for all mobile and desktop devices.</p>
                <div class="my-4">

                    <a href="#" class="btn btn-light"><img src="assets/landing/images/playicon.png" alt="icon"> Google play</a>
                </div>
                <p class="text-primary"><small><i>&nbsp; </i></small></p>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> BLOCK-18, SECTOR-28, KIRTI SOCIETY ,<br/> PRADHIKIRAN, NIGDI, PUNE-411044</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:rotaryidealstudy@gmail.com">rotaryidealstudy@gmail.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">+91-77000-08993</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>&nbsp;</small></p>

    </footer>
   
    

   


