<div class="loading" *ngIf="loading">
    <img src="assets/images/loading.gif" alt="" />
</div>
<div *ngIf="!loading && !showScore && !mcqNotConfigured">
    <div>

        <mat-card class="countDown">
            Question : {{currentQuestion}}
        </mat-card>
        <mat-card *ngIf = "filteredQuestion !== undefined"  class="questionCard">
            {{filteredQuestion.QuestionValue}}
        </mat-card>
        <mat-selection-list #list *ngIf = "filteredAnswer !== undefined"  
        (selectionChange)="onSelection($event, list.selectedOptions)"
        [multiple]="false" [(ngModel)]="selectedOptions">
            <mat-list-option class="answerCard" 
            [ngClass]="{'correctAnswers': answer.IsCorrectAnswer && showAnswers }"
            *ngFor="let answer of filteredAnswer[0]" [value]="answer.AnswerValue" [selected]="answer.SelectedValue"
                [disabled]="disabled">

                <span class="mat-list-answer"> {{answer.AnswerValue}} </span>
            </mat-list-option>
        </mat-selection-list>

        <button mat-raised-button class="questionButtons" *ngIf = !firstQuestion (click)="getPreviousQuestion()">Previous</button>

        <button mat-raised-button class="questionButtons" *ngIf = !lastQuestion (click)="getNextQuestion()">Next</button>

        <!-- <button mat-raised-button class="questionButtons" [disabled]="disabled" (click)="saveMcq()">Save Answer</button> -->

        <button mat-raised-button [disabled]="disabled" *ngIf = lastQuestion (click)="submitMcq()" class="questionButtons">Submit Mcq</button>
    </div>
</div>
<div *ngIf= "!loading && mcqNotConfigured">
    <h3> Mcq is not configured for this Chapter.</h3>
</div>
<div *ngIf="showScore">
    <mat-card class="scoreCard">
        Your Score is
        <br> {{finalScore}} out of 10
        <br>

        <img draggable="false" class="emoji" alt="👋" src= {{emojiPath}}>

    </mat-card>

    <button mat-raised-button class="questionButtons" (click) = "viewAnswers()" >View Answers</button>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="modal-box">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            Welcome to MCQ. Each question is of 1 mark.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>