.loading{
    position: absolute;
    display: block;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
  }

  .countDown {
    margin-bottom: 25px;
    text-align: left;
    justify-content: flex-end !important;
    width: auto;
    /* margin-right: 70%; */
    background: #e88f13;
    font-weight: bolder;
    
  }

  .startButton {
    float: right;
    color: #000000;
    background: bisque;
    font-weight: bolder;
  }

  .questionCard
  {
    background: #dfefff;
    font-weight: bold;
    box-shadow: inset 5px 0px 0px 0px #044a4bc2;
  }

  .answerCard
  {
    background: #dfefff;
    font-weight: bold;
    margin-bottom: 3% !important;
    border-radius: 3px !important;
  }

  .mat-list-answer
  {
    font-weight: bolder !important
  }

  .answerCard:hover 
  {
    box-shadow: inset 0px 0px 5px 0px #034401be;
  }

  .button
  {
    margin-left: 59%;
    
  }
  .questionButtons
  {
    background: #e88f13;
    font-weight: bold;
    margin-right: 10px !important;
    margin-top: 12px !important;
  }

  @keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}

@keyframes bounce-animation {
 10% { transform: scaleY(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
 20% { transform: scaleY( 12.0deg) }
 30% { transform: scaleY(-10.0deg) }
 40% { transform: scaleY(  9.0deg) }
 50% { transform: scaleY(  0.0deg) }    /* Reset for the last half to pause */
100% { transform: scaleY(  0.0deg) }
}

span.wave {
  animation-name: bounce-animation;    /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;          /* Change to speed up or slow down */
  animation-iteration-count: infinite;    /* Never stop waving :) */
  transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
  display: inline-block;
}

/* img.emoji {
  margin: 0;
  vertical-align: -0.18em;
  border: 0;
  cursor: text;
  width: 25% !important;
  height: 1% !important;
} */

.emoji
{
  margin-left: 25%;
}

.scoreCard {
  margin-bottom: 25px;
  text-align: center;
  font-size: 35px;
  width: auto;
  color: #11a90cc2;
  font-weight: bolder;
}

.correctAnswers
{
  background: #90c544f0;
}