<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
 <div class="container">
   <div class="card login-card">
     <div class="row no-gutters">
       <div class="col-md-5">
         <img src="assets/images/appbakground.png" alt="login" class="login-card-img">
       </div>
       <div class="col-md-7">
         <div class="card-body">
           <div class="brand-wrapper logo-position">
             <img src="assets/images/smalllogo.png" alt="logo" class="logo">
           </div>
           <p class="login-card-description" style="color: #9c27b0;">Sign into your account</p>
           <form class="form-horizontal" [formGroup]="loginForm" id="loginform"  (ngSubmit)="onSubmit()">
             <div class="form-group display-message" *ngIf="displayMessage.length>0" >{{displayMessage}}</div>
               <div class="form-group" style="padding-bottom: 7px !important;">
                 <input class="form-control" 
                 formControlName="phonenumber" 
                 placeholder="Mobile Number" 
                 type="text" 
                 [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"
                 numbersOnly>
                 <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback" >
                     <div *ngIf="f.phonenumber.errors?.required">Mobile number is required</div>
                     <div *ngIf="f.phonenumber.errors?.pattern">Mobile number should be 10 digit</div>
                 </div>
               </div>
               <div class="form-group" style="padding-bottom: 7px !important;">
                 <input class="form-control" 
                 formControlName="password" 
                 placeholder="Password" 
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                 type="password">
                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback" >
                     <div *ngIf="f.password.errors?.required">Password is required</div>
                 </div>
               </div>
               <button type="submit" class="btn btn-block login-btn mb-4" id="btnSubmit" > Login</button>
             </form>
             <p class="login-card-footer-text"><span class="blinking" style="font-size:15px;">New user? </span><a [routerLink]="['/register']" class="text-reset" style="font-size: 18px;cursor: pointer;">Register here</a></p>
         </div>
       </div>
     </div>
   </div>
 </div>
</main>


