<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
          <div class="container-fluid" style="padding: 5px !important;">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
    <footer-cmp></footer-cmp>
</div>