<ol class="breadcrumb breadcrumb-arrow" *ngIf="loading==false">
    <li><a href="JavaScript:Void(0);return false;">{{subjectSectionContent.MediumName}}</a></li>
    <li><a href="JavaScript:Void(0);return false;">{{subjectSectionContent.SubjectName}}</a></li>
    <li class="active"><span>Subject Sections</span></li>
</ol>
  
<div class="row" *ngIf="subjectSectionContent!=null">
    <div class="card" >
        <div class="card-header">
            {{subjectSectionContent.SectionName}}
        </div>
        <div class="card-body">
            <section [innerHTML]="subjectSectionContent.SubjectTextContents | safeHtml"></section>
        </div>
    </div>
</div>
