.navbar{
    color: white;
    background-color: #9c27b0 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.icon-bar
{
    background-color: white !important;
    width: 30px !important;
    height: 3px !important;
}

.fixed-header{
    position: fixed;        
    margin-left: 260px;
}
.fixed-header{
    top: 0;
}
@media(min-width:320px) and (max-width:768px){
    .fixed-header{
        margin-left: 0px; 
    }
}
