 <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top fixed-header">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-brand mx-0 p-0"><img src="assets/images/app_logo.png" width="60" class="img-responsive" alt="">  </div>
      <!-- <a class="navbar-brand" href="javascript:;">Ideal <strong>Study</strong></a> -->
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      &nbsp;
    </div>
  </div>
</nav> 
