<div class="sidebar" id="sideBarVeiw" 
style="background-color: #fff !important;" data-color="purple" 
data-background-color="white" data-image="assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="http://www.idealstudy.in/" class="simple-text logo-normal">
      <img src="assets/images/profileImage.png" width="150" height="100" class="img-responsive" alt="">  
    </a>
  </div>
  <div class="sidebar-wrapper" >
    <ul class="nav">
      <li class="nav-item" [routerLink]="['dashboard']" [ngClass]="{'active': step==='dashboard'}" (click)="step='dashboard'">
        <a class="nav-link" >
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item " [routerLink]="['userprofile']" [ngClass]="{'active': step==='userprofile'}" (click)="step='userprofile'">
        <a class="nav-link">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item" (click)="onSignOut()">
        <a class="nav-link">
          <i class="material-icons">person</i>
          <p>Log Out</p>
        </a>
      </li>
      <!-- <li class="nav-item" [routerLink]="['contact-us']" [ngClass]="{'active': step==='contact-us'}" (click)="step='contact-us'">
        <a class="nav-link">
          <i class="material-icons">person</i>
          <p>Contact Us</p>
        </a>
      </li> -->
      <li class="nav-item" >
        <a class="nav-link contactUsBox">
           <label style="color:#030a10">  <i class="material-icons">call</i> Contact Us : 7700008993</label>
           <!-- <label style="color:#030a10; font-size : 11.5px !important ; font-weight: 500; " > <i class="material-icons">mail</i>idealstudy@gmail.com</label> -->
        </a>
      </li>
    </ul>
  </div>
</div>
<style>

  .form-label
  {
      color: #9c27b0; 
      font-weight: bold;
      background-color: #9585bd6e;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 1.15rem; 
      -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-shadow: inset 0px 0px 0px 0px #4f026ac7;
      font-size: medium;
      margin-top: 10px !important;
  }

  .sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 14px;
    line-height: 27px;
    /* width: 30px; */
    text-align: center;
    color: #9c27b0;
}

.contactUsBox
{
  box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  text-transform: capitalize !important; 
  background: aliceblue;
  border: 0.5px solid;
}
</style>