p {
  color:black; 
}
/* Loading Element Start  */
.loading{
 position: absolute;
 display: block;
 left: 35%;
 margin-left: auto;
 margin-right: auto;
 z-index: 1;
 -webkit-transform: translate3d(0, -50%, 0);
 -moz-transform: translate3d(0, -50%, 0);
 -o-transform: translate3d(0, -50%, 0);
 -ms-transform: translate3d(0, -50%, 0);
 transform: translate3d(0, -50%, 0);
 text-align: center;
 border-radius: 50%;
 width: 45px;
 height: 45px;
 top: 50%;
}
/* Loading Element End  */

/*Standard Section Start*/
.serviceBoxChapterSection{
 font-family: 'Raleway', sans-serif;
 text-align: center;
 width:200px !important;
}
.serviceBoxChapterSection .service-icon{
 color: #eb3b5a;
 background: #fff;
 font-size: 20px;
 border-radius: 15px 15px 0 0;
 padding: 10px 10px 8px;
 margin: 0 15px;
 position: relative;
 z-index: 1;
 transition: all 0.3s ease 0s;
 box-shadow: inset 0px 6px 6px 0px #d2c8ca;
}
.serviceBoxChapterSection:hover .service-icon i{
 transform: rotate(360deg);
 transition: all 0.3s;
}
.serviceBoxChapterSection .service-content{
 color: #fff;
 background: linear-gradient(to bottom,#d92856,#EF7C46);
 text-shadow: 0 0 2px #555;
 padding: 40px 20px 10px;
 border-radius: 5px 5px 15px 15px;
 overflow: hidden;
 position: relative;
 z-index: 1;
}
.serviceBoxChapterSection .service-content:before,
.serviceBoxChapterSection .service-content:after{
 content: "";
 background: #fff;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 transform: translateX(-50%);
 position: absolute;
 top: -30px;
 left: 50%;
}
.serviceBoxChapterSection .service-content:after{
 background: linear-gradient(to bottom,rgba(255,255,255,0.1),transparent);
 width: 100%;
 height: 100%;
 border-radius: 100% 0 0 0;
 transform: translateX(0);
 top: 15px;
 left: 0;
}
.serviceBoxChapterSection .title{
 font-size: 15px;
 font-weight: 500;
 text-transform: uppercase;
 margin: 0 0 10px;
 color:white;
}
.serviceBoxChapterSection .description{
 font-size: 15px;
 font-weight: 500;
 line-height: 25px;
}
.serviceBoxChapterSection.purple .service-icon{ color: #B67BD5; }
.serviceBoxChapterSection.purple .service-content{ background: linear-gradient(to bottom,#B67BD5,#D87BA7); }
.serviceBoxChapterSection.blue .service-icon{ color: #13b8ef; }
.serviceBoxChapterSection.blue .service-content{ background: linear-gradient(to bottom,#13b8ef,#72daf9); }
.serviceBoxChapterSection.green .service-icon{ color: #22AB15; }
.serviceBoxChapterSection.green .service-content{ background: linear-gradient(to bottom,#22AB15,#A4DC61); }
@media only screen and (max-width:990px){
 .serviceBoxChapterSection{ margin: 0 0 30px; }

 .bread-crum{
   font-size: 10px;
 }
}
/*Standard Section End*/
.disable-select {
 -webkit-user-select: none;  
 -moz-user-select: none;    
 -ms-user-select: none;      
 user-select: none;
}





