/* Bread Crumb Start  */

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 4px
}
.breadcrumb-arrow li a {
    font-size:10px;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #9c27b0;
    border: 1px solid #9c27b0;
}
.breadcrumb-arrow li:first-child a {
    padding-left:3px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #FFF;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #ffffff
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #cb83d8
}
.breadcrumb-arrow li a:active {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: white;
}
.breadcrumb-arrow li span {
    color: #434a54
}
/* Bread Crumb End  */

/* Loading Element Start  */
.loading{
    position: absolute;
    display: block;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
}
/* Loading Element End  */
.serviceBox{
    color: #fff;
    font-family: 'Hind', sans-serif;
    text-align: center;
    padding: 25px 5px 30px 0;
    /* box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.5) inset; */
    position: relative;
    box-shadow: 0px 0px 4px #ababab;
}
.serviceBox:after{
    content: "";
    background: #FF018F;
    width: 20px;
    height: 20px;
    box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.5) inset;
    position: absolute;
    bottom: 10px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.serviceBox .service-content{
    background: linear-gradient(to left bottom,#FD9743,#FF018F);
    padding: 15px;
    border-radius:0 30px 30px 0;
    box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.5) inset;
}
.serviceBox .title{
    color: #FF018F;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 10px;
    margin: 0 -20px 20px -15px;
    border-radius: 0 30px 30px 0;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.5) inset, 5px 0 5px rgba(0,0,0,0.2);
}
.serviceBox .description{
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px;
    color:white !important;
}
.serviceBox .service-icon{
    color: #fff;
    font-size: 45px;
}
.serviceBox:hover .service-icon i{
    transform: rotate(360deg);
    transition: all 0.3s;
}
.serviceBox.blue:after{ background: #6558FF; }
.serviceBox.blue .service-content{ background: linear-gradient(to left bottom,#02D7DD,#6558FF); }
.serviceBox.blue .title{ color: #6558FF; }
.serviceBox.purple:after{ background: #910090; }
.serviceBox.purple .service-content{ background: linear-gradient(to left bottom,#F83ABE,#910090); }
.serviceBox.purple .title{ color: #910090; }
.serviceBox.green:after{ background: #00AE85; }
.serviceBox.green .service-content{ background: linear-gradient(to left bottom,#02F4C1,#00AE85); }
.serviceBox.green .title{ color: #00AE85; }
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 15px; }
}
@media only screen and (max-width:425px){
    .serviceBox .title{ 
        font-size: 14px; 
    }
    .serviceBox{ 
        padding: 10px 5px 15px 0;
        font-size: 14px; 
    }
    .serviceBox .service-icon{
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .breadCrumb_step {
        display: inline-block;width:70px;white-space: nowrap;overflow: hidden;color:white !important;text-overflow: ellipsis;
      }
    .breadCrumb_step2 {
      display: inline-block;width:70px;white-space: nowrap;overflow: hidden;color:white !important;padding-left: 2px !important;text-overflow: ellipsis;
    }
    .breadCrumb_step3 {
      display: inline-block;width:80px;white-space: nowrap;overflow: hidden;color:black important;padding-left: 14px !important;text-overflow: ellipsis;
    }
  }
  