body{
    padding-top: 50px;   
}

/* Bread Crumb Start  */

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    font-size: 13px;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #9c27b0;
    border: 1px solid #9c27b0;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #FFF;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #ffffff
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #cb83d8
}
.breadcrumb-arrow li a:active {
    background-color: #cb83d8;
    border: 1px solid #cb83d8
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: white;
}
.breadcrumb-arrow li span {
    color: #434a54
}
/* Bread Crumb End  */

/* Loading Element Start  */
.loading{
    position: absolute;
    display: block;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
}
/* Loading Element End  */

/* Box Design Start */
.serviceBox{
    color: #666;
    background: linear-gradient(to right,#f1c40f 49%,#f39c12 50%);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2px 10px 12px;
    border-radius: 150px 0 50px 50px;
    transition: all 0.3s ease 0s;
    margin: 0 0 30px;
}
.serviceBox .service-content{
    background: linear-gradient(to top left, #fff,#fff,rgba(255,255,255,0.8));
    padding: 20px 13px;
    border-radius: 0 130px 50px 50px;
    /* box-shadow: 3px 3px 5px rgba(0,0,0,0.4); */
    box-shadow: -1px 0px 8px #080808;
    
}
.serviceBox .service-icon{
    color: #f1c40f;
    font-size: 50px;
    margin: 0 0 10px 0;
}
.serviceBox:hover .service-icon i{
    color: #da8219;
    transform: rotateY(360deg);
    transition: all 0.3s;
}
.serviceBox .title{
    color: #da8219;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.serviceBox .description{
    font-size: 15px;
    line-height: 25px;
}
.serviceBox.green{ background: linear-gradient(to right,#01acb3 49%,#007687 50%); }
.serviceBox.green .service-icon{ color: #01acb3; }
.serviceBox.green:hover .service-icon i,
.serviceBox.green .title{
    color: #007687;
}
.serviceBox.purple{ background: linear-gradient(to right, #ae3de2 49%, #8622d5 50%); }
.serviceBox.purple .service-icon{ color: #ae3de2; }
.serviceBox.purple:hover .service-icon i,
.serviceBox.purple .title{
    color: #8622d5;
}
.serviceBox.blue{ background: linear-gradient(to right, #02aff1 49%,#0179e9 50%); }
.serviceBox.blue .service-icon{ color: #02aff1; }
.serviceBox.blue:hover .service-icon i,
.serviceBox.blue .title{
    color: #0179e9;
}

.serviceBox.color1{ background: linear-gradient(to right, #EF539C 49%,#B32587 50%); }
.serviceBox.color1 .service-icon{ color: #EF539C; }
.serviceBox.color1:hover .service-icon i,
.serviceBox.color1 .title{
    color: #B32587;
}

.serviceBox.color2{ background: linear-gradient(to right, #6B5DBE 49%,#4A37A2 50%); }
.serviceBox.color2 .service-icon{ color: #6B5DBE; }
.serviceBox.color2:hover .service-icon i,
.serviceBox.color2 .title{
    color: #4A37A2;
}

.serviceBox.color3{ background: linear-gradient(to right, #FE8C05 49%,#FB6801 50%); }
.serviceBox.color3 .service-icon{ color: #EF539C; }
.serviceBox.color3:hover .service-icon i,
.serviceBox.color3 .title{
    color: #FB6801;
}

/* @media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 30px; }
} */
@media only screen and (max-width:425px) {
    .service-content{
        height: 150px;
    }
    .serviceBox .title{
        font-size: 12px;
    }
}
/* Box Design End */

img.ng-lazyloaded { 
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; } 
}


.demo{ background: #4e4e50; }
.modal-box{ font-family: 'Roboto', sans-serif; }
.modal-box .show-modal{
    /* color: #8cc63e; */
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 80px auto 0;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    display: block;
}
.modal-box .show-modal:hover{
    color: #8cc63e;
    border: none;
}
.modal-backdrop.in{ opacity: 0; }
.modal-box .modal{ top: 0px !important; height:100% !important; }
.modal-box .modal-dialog{
    width: auto;
    margin: 7px auto 10px;
}
.modal-box .modal-dialog .modal-content{
    text-align: center;
    border-radius: 0;
    position: relative;
}

.modal-box .modal-dialog .modal-content .close{
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
    left: auto;
    right: 5px;
    top: 1px;
    z-index: 1;
    transition: all 0.3s;
    padding:2px;
   
}
.modal-box .modal-dialog .modal-content .close:hover{ color: #fff; }
.modal-box .modal-dialog .modal-content .modal-body{  padding: 40px 20px 30px !important; }

.modal-box .modal-dialog .modal-content .modal-body .title{
    color: #0d69aa;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 25px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #8cc63e;
    position: relative;
}
.modal-box .modal-dialog .modal-content .modal-body .title:before{
    content: "";
    background: #8cc63e;
    width: 12px;
    height: 12px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: -7px;
    left: 50%;
}
.modal-box .modal-dialog .modal-content .modal-body .description{
    font-family: 'Alegreya', serif;
    color: #999;
    font-size: 18px;
    margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .subscribe{
    color: #fff;
    background: #0c5c97;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease 0s;
}
.modal-box .modal-dialog .modal-content .modal-body .subscribe:hover{
    color: #fff;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.modal-box .modal-dialog .modal-content .modal-body .subscribe:before{
    content: '';
    height: 0;
    width: 0;
    border: 3px solid #0c5c97;
    opacity: 0;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
    transition: all 0.2s ease 0s;
}
.modal-box .modal-dialog .modal-content .modal-body .subscribe:hover:before{
    height: 126%;
    width: 109%;
    opacity: 1;
}
@media only screen and (max-width: 576px){
    .modal-dialog{ width: 98% !important; }
}

.landingImage{
    max-width:100%;max-height:100%;
}

.exitModal 
{
  top: 91px !important;
  left: 0px !important;
  display: block;
  width: 92% !important;
  height: 75%;
}
