<div class="loading" *ngIf="loading==true">
  <img src="assets/images/loading.gif" alt="" />
</div>

<ol class="breadcrumb breadcrumb-arrow" *ngIf="loading==false">
  <li><a href="JavaScript:Void(0);return false;">Dashboard</a></li>
  <li><a href="JavaScript:Void(0);return false;">{{mediumName}}</a></li>
  <li class="active"><span>Subjects</span></li>
</ol>
<div class="container" *ngIf="loading==false">
  <div class="row">
      <div class="col-lg-3 col-md-6 col-6" *ngFor="let subject of subjectList">
          <div class="serviceBox" [className]="subject.SubjectBgColor" (click)="onSubjectClick(subject)">
            <div class="service-content">
                <div class="service-icon">
                  <!-- <span><i class="fa fa-globe"></i></span> -->
                  <img src="{{subject.SubjectThumbnailPath}}"
                       [lazyLoad]="subject.SubjectThumbnailPath"
                       height="50" width="50"
                       class="img-responsive"
                       alt="">
                </div>
                <h3 class="title">{{subject.SubjectName}}</h3>
                <!-- <p class="description">{{subject.SubjectName}}</p> -->
              </div>
          </div>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
      <div class="modal-box">
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <div class="modal-body">
                        
                          <img 
                          src="{{SPLandingImage}}" 
                          [lazyLoad]="SPLandingImage" 
                          
                          class="img-responsive landingImage" 
                          alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="modal-box">
          <div class="modal" id="exitScreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog exitModal" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="modal-body">
                  <div class="icon">
                  </div>
                  <img src="{{SPThumbnailImage}}" [lazyLoad]="SPThumbnailImage" style="width:275px !important"  width="100" class="img-responsive" alt="">
                  <br>
                  <br>
                  <br>
                  <h1 style="font-size: 1.4rem !important;"> Do you want to exit from app ?</h1>
                </div>
                <div class="modal-footer">
                  <button id="yesBtn" (click)="yesClick()" class="btn btn-primary">Yes</button>
                  <button id="noBtn" (click)="noClick()" class="btn btn-primary">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
