<footer class="footer justify-content-center" style="width: 100%;padding: 7px;z-index: 1;bottom: 0;color:
 white;
background-color: #9c27b0 !important;position: fixed; font-size: 15px;">
     <p class="mb-0 text-white">Sponsored by {{sponsorerName}}</p>
</footer>