/* 
.form-horizontal .header{
  background: #9c27b0;
    padding: 15px 25px;
    font-size: 17px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-radius: 4px 4px 0 0;
}
.footer{
  background: #9c27b0;
    padding: 15px 25px;
    font-size: 17px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0px 0px 4px 4px;
}
.form-horizontal .heading{
  font-size: 16px;
  color: #3f9cb5;
  margin: 10px 0 20px 0;
  text-transform: capitalize;
}
.form-horizontal .form-content{
  background: #fff;
}
.form-horizontal .form-control{
  padding: 12px 16px 12px 39px;
  height: 40px;
  font-size: 14px;
  color: #2b2a2a;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1px;
}
.form-horizontal .form-control:focus{
  box-shadow: none;
}
.form-horizontal .control-label{
  font-size: 30px;
  color: #ccc;
  position: absolute;
  top: 5px;
  left: 27px;
  text-align: center;
}

.form-horizontal .btn{
  font-size: 11px;
  color:#fff;
  float: right;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.5s ease 0s;
  background: #9c27b0;
}
.form-horizontal .btn:hover{
  color:#fff;
  background: #9c27b0;
}

.div-wrapper {
  margin-top: 40px;
}

.div-to-align {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  border: 1px solid #ddd;
  border-radius: 12px;
 
}
        
.form-control.is-invalid{
   background-image: unset !important;
 }

 

 .a-text{
    text-align: right;
    color: floralwhite;
    text-transform: none;
 }
 .font-aws-icon{
  font-size: 20px;
}

.btn-align{
  right: 10px;
} 


#mat-input-0::placeholder {
  text-align: center;
}
.form-control:read-only{
  background-image: unset !important;
} */


/* .form-horizontal .header{
  background: #9c27b0;
    padding: 15px 25px;
    font-size: 17px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-radius: 4px 4px 0 0;
}
.footer{
  background: #9c27b0;
    padding: 15px 25px;
    font-size: 17px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0px 0px 4px 4px;
}
.form-horizontal .heading{
  font-size: 16px;
  color: #3f9cb5;
  margin: 10px 0 20px 0;
  text-transform: capitalize;
}
.form-horizontal .form-content{
  background: #fff;
}
.form-horizontal .form-control{
  padding: 12px 16px 12px 39px;
  height: 40px;
  font-size: 14px;
  color: #2b2a2a;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1px;
}
.form-horizontal .form-control:focus{
  box-shadow: none;
}
.form-horizontal .control-label{
  font-size: 30px;
  color: #ccc;
  position: absolute;
  top: 5px;
  left: 27px;
  text-align: center;
}

.form-horizontal .btn{
  font-size: 11px;
  color:#fff;
  float: right;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.5s ease 0s;
  background: #9c27b0;
}
.form-horizontal .btn:hover{
  color:#fff;
  background: #9c27b0;
}

.div-wrapper {
  margin-top: 40px;
}

.div-to-align {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  border: 1px solid #ddd;
  border-radius: 12px;
}
        
.form-control.is-invalid{
   background-image: unset !important;
 }

 .display-message{
  font-size: 12px;
  color: red;
  text-align: center;
 }

 .a-text{
  float: right;
    color: floralwhite;
    text-transform: none;
 }
.font-aws-icon{
  font-size: 20px;
}
.btn-align{
  right: 10px;
}
  */

  body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh; }
  
  .brand-wrapper {
    margin-bottom: 19px; }
    .brand-wrapper .logo {
      height: 70px; }
  
  .login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
    .login-card-img {
      border-radius: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .login-card .card-body {
      padding: 85px 60px 60px; }
      @media (max-width: 422px) {
        .login-card .card-body {
          padding: 35px 24px; } }
    .login-card-description {
      font-size: 25px;
      color: #000;
      font-weight: normal;
      margin-bottom: 23px; }
    .login-card form {
      max-width: 326px; }
    .login-card .form-control {
      border: 1px solid #d5dae2;
      /* padding: 15px 25px; */
      margin-bottom: 4px;
      min-height: 45px;
      font-size: 13px;
      /* line-height: 15; */
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
    .login-card .login-btn {
      padding: 13px 20px 12px;
      background-color:#6a3a92;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      color: #fff;
      margin-bottom: 24px; }
      .login-card .login-btn:hover {
        border: 1px solid  #fff;
        background-color: #af70e4;
        color: #fff; }
    .login-card .forgot-password-link {
      font-size: 14px;
      color: #919aa3;
      margin-bottom: 12px; }
    .login-card-footer-text {
      font-size: 16px;
      color: #0d2366;
      margin-bottom: 60px; }
      @media (max-width: 767px) {
        .login-card-footer-text {
          margin-bottom: 24px; } }
    .login-card-footer-nav a {
      font-size: 14px;
      color: #919aa3; }

      .blinking{
        animation:blinkingText 2s infinite;
      }
      @keyframes blinkingText{
        0%{		color: #9c27b0;	}
        49%{	color: transparent;	}
        50%{	color: transparent;	}
        99%{	color:transparent;	}
        100%{	color: #9c27b0;	}
      }

      @media only screen and (max-width: 768px) {
        .logo-position {
          text-align: center;
        }
      }
    
      @media only screen and (max-width: 768px) {
        .logo-position {
          text-align: center;
        }
      }
      .was-validated .form-control:invalid, .form-control.is-invalid{
        background: none;
      }
      .display-message{
        font-size: 12px;
        color: red;
        text-align: center;
       }

       .couponCodeCss{
        max-width: 326px; }