<!-- 
<div class="section-1-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-12 div-wrapper d-flex justify-content-center align-items-center">
                <div class="div-to-align">
                    <div class="form-horizontal frmCoupon" *ngIf="!IsCouponValidated">
                        <div class="header">Coupon Information</div>
                        <div class="form-content">
                            <div class="form-group display-message" *ngIf="couonCodeError!=''" >{{couonCodeError}}</div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="firstName"><i class="fa fa-user font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    [(ngModel)]="couponCodeText" 
                                    placeholder="Coupon Code" 
                                    type="text" >
                                    <div class="invalid-feedback" >
                                        <div>First Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button type="button" class="btn btn-default btn-align" (click)="validateCouponCode()"> Next >></button>
                            </div>
                        </div>
                    </div>
                    <form *ngIf="IsCouponValidated" class="form-horizontal frmRegister"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="header">Register</div>
                        <div class="form-content">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="firstName"><i class="fa fa-user font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    formControlName="firstName" 
                                    placeholder="First Name" 
                                    type="text" 
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >
                                        <div *ngIf="f.firstName.errors?.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="firstName"><i class="fa fa-user font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    formControlName="lastName" 
                                    placeholder="Last Name" 
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                    type="text" >
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback" >
                                        <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="password"><i class="fa fa-key font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    formControlName="password" 
                                    placeholder="Password" 
                                    type="text" 
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback" >
                                        <div *ngIf="f.password.errors?.required" class="errorMsg">Password is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="confirmpassword"><i class="fa fa-key font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    formControlName="confirmpassword" 
                                    placeholder="Confirm Password" 
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                                    type="text" >
                                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback" >
                                        <div *ngIf="f.confirmpassword.errors?.required" class="errorMsg">Confirm Password is required</div>
                                        <div *ngIf="f.confirmpassword.errors?.mustMatch" class="errorMsg">Password and Confirm Password should match</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="mediumId"><i class="fa fa-language font-aws-icon"></i></label>
                                    <select formControlName="mediumId"  class="form-control" >  
                                        <option *ngFor="let medium of mediumService.listMedium" [ngValue]="medium.MediumId">  
                                            {{medium.MediumName}}  
                                        </option>  
                                    </select>  
                                    <div class="invalid-feedback" *ngIf="submitted && f.mediumId.errors?.required">
                                        please select medium name
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="phonenumber"><i class="fa fa-mobile font-aws-icon"></i></label>
                                    <input class="form-control" 
                                    formControlName="phonenumber" 
                                    placeholder="Mobile Number" 
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                                    type="text" numbersOnly>
                                    <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback" >
                                        <div *ngIf="f.phonenumber.errors?.required" class="errorMsg">Mobile number is required</div>
                                        <div *ngIf="f.phonenumber.errors?.duplicateMobileNumber" class="errorMsg">Please enter another mobile number.</div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <label class="control-label mb-0" for="dateOfBirth"><i class="fa fa-calendar font-aws-icon"></i></label>
                                    <mat-form-field style="width: 100%;">
                                        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" style="padding-left: 36px;" >
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-error *ngIf="f.dateOfBirth.errors?.required && f.dateOfBirth.touched" class="invalid-feedback">Please select Date of birth</mat-error>
                                </div>
                            </div>
                           
                            <div class="clearfix">
                                <button type="submit" class="btn btn-default btn-align"> Register</button>
                            </div>
                        </div>
                    </form>
                    <div class="footer">
                        <a type="submit" [routerLink]="['/login']" class="a-text">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
 -->
 <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/images/appbakground.png" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper logo-position">
                <img src="assets/images/smalllogo.png" alt="logo" class="logo">
              </div>
              <div class="form-horizontal couponCodeCss" *ngIf="!IsCouponValidated">
                <div class="form-group"><p class="login-card-description" style="color: #9c27b0;">Enter Coupon Code</p></div>
                <div class="form-group display-message" *ngIf="couonCodeError!=''" >{{couonCodeError}}</div>
                  <div class="form-group" style="padding-bottom: 7px !important;">
                    <input class="form-control" 
                        [(ngModel)]="couponCodeText" 
                        placeholder="Coupon Code" 
                        type="text">
                  </div>
                  <button type="submit" class="btn btn-block login-btn mb-4" id="btnSubmit" (click)="validateCouponCode()"> Submit</button>
                </div>
                <form class="registration" *ngIf="IsCouponValidated" class="form-horizontal frmRegister"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <p class="login-card-description" style="color: #9c27b0;">Registration</p>
                    <div class="form-group" style="padding-bottom: 7px !important;">
                        <input class="form-control" 
                                    formControlName="firstName" 
                                    placeholder="First Name" 
                                    type="text" 
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >
                            <div *ngIf="f.firstName.errors?.required">First Name is required</div>
                        </div>
                      </div>
                      <div class="form-group" style="padding-bottom: 7px !important;">
                        <input class="form-control" 
                            formControlName="fatherName" 
                            placeholder="Father Name" 
                            [ngClass]="{ 'is-invalid': submitted && f.fatherName.errors }"
                            type="text" >
                            <div *ngIf="submitted && f.fatherName.errors" class="invalid-feedback" >
                                <div *ngIf="f.fatherName.errors?.required">Father Name is required</div>
                            </div>
                        </div>
                      <div class="form-group" style="padding-bottom: 7px !important;">
                            <input class="form-control" 
                                formControlName="lastName" 
                                placeholder="Last Name" 
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                type="text" >
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback" >
                                    <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
                                </div>
                      </div>
                      <div class="form-group" style="padding-bottom: 7px !important;">
                        <input class="form-control" 
                                formControlName="phonenumber" 
                                placeholder="Mobile Number" 
                                [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                                type="text" numbersOnly>
                                <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback" >
                                    <div *ngIf="f.phonenumber.errors?.required" class="errorMsg">Mobile number is required</div>
                                    <div *ngIf="f.phonenumber.errors?.pattern" class="errorMsg">Please enter 10 digit mobile number.</div>
                                </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 7px !important;">
                            <input class="form-control" 
                                    formControlName="password" 
                                    placeholder="Password" 
                                    type="password" 
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback" >
                                        <div *ngIf="f.password.errors?.required" class="errorMsg">Password is required</div>
                                    </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 7px !important;">
                            <input class="form-control" 
                            formControlName="confirmpassword" 
                            placeholder="Confirm Password" 
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                            type="password" >
                            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback" >
                                <div *ngIf="f.confirmpassword.errors?.required" class="errorMsg">Confirm Password is required</div>
                                <div *ngIf="f.confirmpassword.errors?.mustMatch" class="errorMsg">Password and Confirm Password should match</div>
                            </div>
                        </div>
                       
                        <div class="form-group" style="padding-bottom: 7px !important;">
                            <select formControlName="mediumId"  class="form-control" >
                                <option [ngValue]="null" disabled>Select Medium</option>
                                <option *ngFor="let medium of mediumService.listMedium" [ngValue]="medium">  
                                    {{medium.MediumName}}  
                                </option>  
                            </select>  
                            <div class="invalid-feedback" style="display:block !important;" *ngIf="submitted && f.mediumId.errors?.required">
                                please select medium name
                            </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 7px !important;">
                            <my-date-picker name="dateOfBirth" [options]="myDatePickerOptions"
                                    formControlName="dateOfBirth" placeholder="Date Of birth" ></my-date-picker>
                            <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback" style="display:block !important;" >
                                <div *ngIf="f.dateOfBirth.errors?.required" class="errorMsg">Date of birth is required</div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="clicked==true" class="btn login-btn mb-4"> Register</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>